.DS_Store
.idea
.vscode
*.vcd
*.fst
runs
tt_submission
src/user_config.tcl
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
# DWP additions
*.swp
src/__pycache__/
slpp_all/
check.rpt
output.elab.v
output.map.v
output.opt.v
output.sv2v.v
output.syn.v
output.json
stat.rpt

